# .env variables
.env

#.venv - virtual interpreter
/.venv

# Pycharm folder
/.idea

# Class Jupyter Notebooks
/Course_Jupyter_Notebooks/

# Ignore teleCust1000t.csv because not sure if can share it
/Support Files/teleCust1000t.csv